# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\תמה וגלעד\Documents\Gilad\לימודים\שנה ג'\א'\למידה עמוקה\finalproject\final-project-deep-learning-image-inpainting\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
